.favorite-main{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 320px);
    width: calc(100% - 320px);
    max-width: calc(100% - 320px);
    margin-top: 80px;
}
.favorite-main .fav-title{
    position: relative;
    width: fit-content;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.favorite-main .fav-card{
    position: relative;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border: none;
    margin-bottom: 1.5rem;
}
.favorite-main .fav-card .favCard-body{
    margin-top: 30px;
    padding: 0 10px;
}
.fav-card .icons-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}
.fav-card img{
    width: 100%;
}


@media only screen and (min-width: 768px) and (max-width: 991px){
    .favorite-main{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% - 280px);
        width: calc(100% - 280px);
        max-width: calc(100% - 280px);
    }
}
@media only screen and (max-width: 767px){
    .favorite-main {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
    }
}