                                
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


main.registration-wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    background: linear-gradient(to top, var(--clr-white) 5%, var(--clr-grey-9) 100%) no-repeat
}
.login-wrapper {
    padding-top: 2.5rem;
}
.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    color: #4343ff
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    outline: none;
    box-shadow: none
}
.ToSignUp{
    padding-left: 5px;
}

.login-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    transform: translateX(-50%);
    left: 51%;
    background-color: #fff;
    padding: 0px 8px
}
.form-group p.error{
    color: red;
    padding: 5px 0;
    text-transform: capitalize;
    margin: 0;
    
}

.btn-primary:disabled{
    cursor:no-drop;
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}