/* Main style */
.main-content .single-product-area{
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 320px);
  width: calc(100% - 320px);
  max-width: calc(100% - 320px);
}

.contant{
  display: flex;
}

/* Label Aria */

.ariaLabel{
  display: block;
  margin-bottom: -40px;
}
.label{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.productPath a{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #242424;
  font-weight: bold;
  margin-right: 20px;
}

.productPath a::after{
  position: absolute;
  content: ">";
  color: #6c757d;
  margin-left: 5px;
  margin-top: 5px;
}

.productPathSelected{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color:#6c757d;
  margin-top: 5px;
}

/* Image Slider */


.row .col-12 .pictureOfProduct img{
  width: 500px;
}

.row .col-12 .threedLink{
  text-decoration: none;
  color: #ffffff;
  background-color: #fbb710;
  width: 50%;
  max-width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  top: 20px;
  /* left: 20px; */
  /* margin-bottom: 50px; */
  position: relative;
  animation: example 4s 2s infinite;
}

@keyframes example {
  0%   {background-color:#fbb710; left:0px; top:20px;}
  50%  {background-color:#fbb710; left:15px; top:20px;}
  100%  {background-color:#fbb710; left:0px; top:20px;}

}

/* pop up */



/* Details of Product */

.rightSide{
  padding: 50px;
}

.price{
  color: #fbb710;
  position: relative;
  margin-bottom: 10px;
  
}

.price::before{
  position: absolute;
  content: "";
  background-color: #fbb710;
  width: 95px;
  height: 4px;
  top: -10px;
}

/* Ratting */

.star{
  font-size: 10px;
  color: #fbb710;
  margin-top: 15px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  
}


.review a{
  text-decoration: none;
  font-size: 13px;
  color: #6b6b6b;
  margin-top: 10px;  
}

.avaibility{
  color:#6b6b6b;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}

.circle{
  color: #20d34a;
  font-size: 10px;
  margin-right: 5px;
}

.shortOverview{
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Qty */

/* .cartbtn p{
  color:#6b6b6b;
  font-size: 16px;
  font-weight: 500;
}

.cartbtn{
  background-color: #f5f7fa;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  width: 140px;
}
.cartClearfix .cartbtn{
  display: flex;
}

.cartClearfix .cartbtn p{
  margin-bottom: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #f5f7fa;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
}

.cartClearfix .cartbtn .quantity{
  text-align: center;
  border: none;
  background-color: #f5f7fa;
  height: 40px;
  width: 60px;
  color:#6b6b6b;
  font-size: 15px;
}

.cartClearfix .cartbtn .quantity .qty-symbol{
  border: none;
  background-color: #f5f7fa;
  right: 0;
  top: 0;
  line-height: 40px;
  width: 20px;
  text-align: center;
  height: 40px;
  color: #6b6b6b;
  font-size: 15px;
  font-weight: 700;
} */

/* Cart Button */

.cartClearfix .cart-link{
  text-decoration: none;
  color: #ffffff;
  background-color: #fbb710;
  width: 100%;
  max-width: 310px;
  height: 80px;
  line-height: 80px;
  padding: 0 7px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  border: none;
  border-radius: 0;
}

.cartClearfix .cart-link:hover{
  background-color: #131212;
  
}


/* media query */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .main-content .single-product-area{
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 280px);
    width: calc(100% - 280px);
    max-width: calc(100% - 280px);
  }
}
@media only screen and (max-width: 767px){
  .main-content .single-product-area{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 50px;
  }
}